.App{
  text-align: center;

}
.btn {
  position: absolute;
   z-index: 1;
   right: 40px; 
  bottom: 40px; 
  width: 80px;
  height: 80px;
  border-radius: 100%;
  text-align: center;
  line-height: 80px;
  font-size: 28px;
  font-weight: bold;
  color: #f1f1f1;
  background:rgb(6, 105, 100);
  cursor: pointer;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0, 8);
}
.btn:hover {
  transform: scale(1.2);
}
.textInput {
   margin-left:0%;
  bottom: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  border:solid;
  outline: sandybrown;
  font-size: 16px;

  color: #1b1a1a;


}
.header{
  position: fixed;
  margin-left:0%;
  top: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  border: solid;
  outline: 5px;
  font-size: 16px;
  color: #f1f1f1;
  background: #55e0e0;

}
.lst{
  margin-left:0%; 
  list-style: none;
  margin-bottom: 1%;
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  border: none;
  outline: none;
  font-size: 12px;
  color: #0f0f0f;
  background: greenyellow;
}


.btn2{
  margin-left: 70%;
  background-color: brown;
  color: #000;
}
